
body {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

.menu-link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.h1-style {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.p-style {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.h2-style {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.product {
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
}
